body{
	font-family: "cambria", serif;
}

#title{
	background-color: maroon;
	text-align: center;
	color:white;
}

#title label{
	font-size: 3em;
}

#title sup{
	font-size: 1.5em;
}

#searchcart{
	background-color: maroon;
	height: 30px;
}

#search{
	float: left;
	padding-left: 20px;
}

#search select{
	padding-top: 5px;
	padding-bottom: 2px;
	color: maroon;
}

#search input[type="text"]{
	padding-top: 5.5px;
}

#search input[type="submit"]{	
	font-size: 0.9em;
	background-color: white;
}

::-webkit-input-placeholder { /*chrome*/
   color: maroon;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: maroon;  
}

#logincart *{
	margin: 0;
	padding: 0;
	display: inline;
}

#logincart li{
	position: relative;
	list-style: none;
	float: right;
}

#logincart li a{
	width: 180px;
	background-color: maroon;
	color:white;
	text-decoration: none;
	display: block;
	line-height: 30px;	
	text-align: center;
}

#logincart li a:hover{
	background-color: white;
	color:maroon;
}

#logincart li li a{
	text-decoration: underline;
}

#logincart ul ul{
	position:absolute;
	visibility: hidden;
	top:30px;
}

#logincart li:hover > ul{
	visibility: visible;
}

#cart fieldset{
	font-size: 0.8em;
	background-color: white;
	text-align: center;
}

#close{
	float:right;
	background-color: white;
	color:maroon;
}

#editcheckout{
	background-color: wheat;
	color:maroon;
	border-radius:7px;
	text-decoration: underline;
	padding: 5px;
	width: 145px;
}

#proceedcheckout{
	background-color: wheat;
	color:maroon;
	border-radius:7px;
	text-decoration: underline;
	padding: 5px;
	width: 145px;
}

#editcheckout:hover{
	background-color: maroon;
	color: white;
}

#proceedcheckout:hover{
	background-color: maroon;
	color: white;
}

#changeattraction p{
	position: absolute;
	right:360px;
	top:345px;
}

.towhite{
	color:white;
}

#shopnow p{
	position: absolute;
	right:1%;
	top:280px;
}

#shopnow input{
	padding: 5px;
	color: maroon;
	border-radius: 3px;
	background-color: white;
}

#ss1{
	float: left;
}

#ss2{
	float: left;
}

#customerlogininfo{
	color:maroon;
	padding-top: 5%;
}

#fieldsetautowidth {
    display: inline-block;
    padding:20px;
}

#customerlogininfo td{
	padding: 5px;
}

#customerlogininfo input{
	color:maroon;
	padding: 5px;
}

#customerlogininfo input[type="submit"]{
	width:100px;
}

#customerlogininfo a{
	color: maroon;
	display: block;
}

#customerregisterinfo{
	color:maroon;
}

#customerregisterinfo td{
	padding: 5px;
}

#custcreditcardvalidthrumonth {
	text-align: center;
}

#custcreditcardvalidthruyear {
	text-align: center;
}

#customerregisterinfo input{
	color:maroon;
	padding: 3px;
	text-align: center;
}

#customerregisterinfo input[type="submit"]{
	width:100px;
}

#error{
	color: red;
}

#shipequalbilladdress{
	text-decoration: underline;
}

#custregformsubmit{
	display: block;
}

#bmwi82{
	display: none;
}

#bmwi83{
	display: none;
}

#bmwi84{
	display: none;
}

#addtocart{
	background-color: wheat;
	color:maroon;
	border-radius:7px;
	text-decoration: underline;
	padding: 5px;
	width: 145px;
}

#addtocart:hover{
	background-color: maroon;
	color: white;
}

#proceedtocheckout{
	background-color: wheat;
	color:maroon;
	border-radius:7px;
	text-decoration: underline;
	padding: 5px;
	width: 145px;
}

#proceedtocheckout:hover{
	background-color: maroon;
	color: white;
}

#checkout{
	background-color: wheat;
	color:maroon;
	border-radius:7px;
	text-decoration: underline;
	padding: 5px;
	width: 145px;
}
